---
default_stages:
  - pre-commit

repos:
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v25.11.0
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        language_version: python3
        verbose: true

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        language_version: python3
        types: [file, yaml]
        entry: yamllint --strict
...
