---
extends: default
ignore:
  - molecule
  - venv
rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  line-length:
    max: 180
    level: warning
...
