[defaults]
home                      = .ansible
collections_path          = .ansible/collections
collections_scan_sys_path = false
callback_result_format    = yaml
no_target_syslog          = true
retry_files_enabled       = false
roles_path                = roles

[diff]
always                    = true

[ssh_connection]
pipelining                = true
