[defaults]
callback_result_format  = yaml
collections_path        = venv
no_target_syslog        = true
retry_files_enabled     = false
roles_path              = roles

[diff]
always                  = true

[ssh_connection]
pipelining              = true
