---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: arm64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        zones_info_api_token: "{{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"
        purge_cache_api_token: "{{ zones_info_api_token }}"
        purge_cache_list:
          - zone_id: "{{ _zones_info_dict['linuxhq.dev'].id }}"
            cache:
              purge_everything: true

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - converge
    - check
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
