---
- name: Ensure cloudflare security level setting is managed
  tags:
    - security
  ansible.builtin.uri:
    body:
      value: "{{ _sl.security_level }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ security_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _sl.zone_id ~
          '/settings/security_level' }}"
  loop: "{{ security_list }}"
  loop_control:
    label: "{{ _sl.zone_id | d(none) }}"
    loop_var: _sl
  when:
    - security_api_token is not none
    - _sl.security_level is defined
    - _sl.zone_id is defined

- name: Ensure cloudflare challenge ttl setting is managed
  tags:
    - security
  ansible.builtin.uri:
    body:
      value: "{{ _ct.challenge_ttl | int }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ security_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _ct.zone_id ~
          '/settings/challenge_ttl' }}"
  loop: "{{ security_list }}"
  loop_control:
    label: "{{ _ct.zone_id | d(none) }}"
    loop_var: _ct
  when:
    - security_api_token is not none
    - _ct.challenge_ttl is defined
    - _ct.zone_id is defined

- name: Ensure cloudflare browser check setting is managed
  tags:
    - security
  ansible.builtin.uri:
    body:
      value: "{{ 'on' if _bc.browser_check | bool else 'off' }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ security_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _bc.zone_id ~
          '/settings/browser_check' }}"
  loop: "{{ security_list }}"
  loop_control:
    label: "{{ _bc.zone_id | d(none) }}"
    loop_var: _bc
  when:
    - security_api_token is not none
    - _bc.browser_check is defined
    - _bc.zone_id is defined
...
