---
- name: Ensure cloudflare page rule zone information is gathered
  tags:
    - page_rule_info
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ page_rule_info_api_token }}"
    method: GET
    status_code:
      - 200
    url: 'https://api.cloudflare.com/client/v4/zones'
  register: __page_rule_info_zone_query
  when:
    - page_rule_info_api_token is not none

- name: Ensure list of cloudflare page rule zone information is generated
  tags:
    - page_rule_info
  ansible.builtin.set_fact:
    __page_rule_info_zone_list:
      "{{ __page_rule_info_zone_query.json.result |
          d([]) |
          json_query('[].{
            id: id,
            name: name
          }') }}"

- name: Ensure cloudflare page rule information is gathered
  tags:
    - page_rule_info
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ page_rule_info_api_token }}"
    method: GET
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _zone.id ~
          '/pagerules' }}"
  register: __page_rule_info_rule_query
  loop: "{{ __page_rule_info_zone_list }}"
  loop_control:
    label: "{{ _zone.name | d(none) }}"
    loop_var: _zone
  when:
    - page_rule_info_api_token is not none
    - _zone.id is defined
    - _zone.name is defined

- name: Ensure list of cloudflare page rule information is generated
  tags:
    - page_rule_info
  ansible.builtin.set_fact:
    _page_rule_info_list:
      "{{ __page_rule_info_rule_query.results |
          d([]) |
          json_query('[].{
            name: _zone.name,
            id: _zone.id,
            page_rules: json.result
          }') }}"

- name: Ensure dict of cloudflare page rule information is generated
  tags:
    - page_rule_info
  ansible.builtin.set_fact:
    _page_rule_info_dict:
      "{{ (dict(_page_rule_info_list |
                json_query('[].name') |
                zip(_page_rule_info_list))) |
          d({}) }}"
...
