---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        account_info_api_token: "{{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"
        account_info_name: "{{ lookup('env', 'CLOUDFLARE_ACCOUNT_NAME') }}"
        tunnel_account_id: "{{ _account_info_id }}"
        tunnel_api_token: "{{ account_info_api_token }}"
        tunnel_list:
          - name: lhqcfv2
            tunnel_secret: YjNhS3ZzQ0puNzNxdFljY0VmbkpGdWlOb3M3dWNxUlJ5YmhVUkx6S2NUNFBZN3k3bUZUb21McnUzd1BhTkh2aQo=

verifier:
  name: ansible
  options:
    diff: true
...
