---
- name: Verify
  hosts: all

  pre_tasks:
    - name: Ensure inventory lists are formatted
      tags:
        - zone
      ansible.builtin.set_fact:
        zone_list:
          "{{ zone_list |
              map('combine', {'state': 'absent'}) }}"

  roles:
    - zone
...
