---
- name: Ensure cloudflare page rule information is gathered
  tags:
    - page_rule
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ page_rule_api_token }}"
    method: GET
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _get.zone_id ~
          '/pagerules' }}"
  loop: "{{ page_rule_list }}"
  loop_control:
    label: "{{ _get.zone_id | d(none) }}"
    loop_var: _get
  register: __page_rule_query
  when:
    - page_rule_api_token is not none
    - _get.zone_id is defined

- name: Ensure list of cloudflare page rule information is generated
  tags:
    - page_rule
  ansible.builtin.set_fact:
    __page_rule_list:
      "{{ __page_rule_query.results |
          d([]) |
          json_query('[].{
            zone_id: _get.zone_id,
            page_rule_ids: json.result[].id
          }') }}"

- name: Ensure cloudpage page rules are absent
  tags:
    - page_rule
  ansible.builtin.uri:
    headers:
      authorization: "bearer {{ page_rule_api_token }}"
    method: DELETE
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _delete.0.zone_id ~
          '/pagerules/' ~
          _delete.1 }}"
  loop:
    "{{ q('ansible.builtin.subelements',
          __page_rule_list,
          'page_rule_ids',
          {'skip_missing': true}) }}"
  loop_control:
    label: "{{ _delete.1 | d(none) }}"
    loop_var: _delete
  when:
    - page_rule_api_token is not none
    - _delete.0.zone_id is defined
    - _delete.1 is defined

- name: Ensure cloudflare page rules are present
  tags:
    - page_rule
  ansible.builtin.uri:
    body: "{{ _post.1 }}"
    body_format: json
    headers:
      authorization: "Bearer {{ page_rule_api_token }}"
    method: POST
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _post.0.zone_id ~
          '/pagerules' }}"
  loop:
    "{{ q('ansible.builtin.subelements',
           page_rule_list,
           'page_rules',
           {'skip_missing': true}) }}"
  loop_control:
    label: "{{ _post.0.zone_id | d(none) }}"
    loop_var: _post
  when:
    - page_rule_api_token is not none
    - _post.0.zone_id is defined
    - _post.1 is defined
...
