---
- name: Verify
  hosts: all

  pre_tasks:
    - name: Ensure inventory lists are formatted
      tags:
        - access_app
      ansible.builtin.set_fact:
        access_app_list:
          "{{ access_app_list |
              map('combine', {'state': 'absent'}) }}"
        zone_list:
          "{{ zone_list |
              map('combine', {'state': 'absent'}) }}"

  roles:
    - access_app
    - zone
...
