---
- name: Verify
  hosts: all

  pre_tasks:
    - name: Ensure inventory lists are formatted
      tags:
        - access_service_token
      ansible.builtin.set_fact:
        access_service_token_list:
          "{{ access_service_token_list |
              map('combine', {'state': 'absent'}) }}"

  roles:
    - access_service_token
...
