---
- name: Ensure cloudflare tunnel information is gathered
  tags:
    - tunnel
  ansible.builtin.uri:
    body_format: json
    headers:
      Authorization: "Bearer {{ tunnel_api_token }}"
    method: GET
    status_code:
      - 200
      - 401
      - 403
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          tunnel_account_id ~
          '/cfd_tunnel?is_deleted=false' }}"
  register: __tunnel_query
  when:
    - tunnel_account_id is not none
    - tunnel_api_token is not none

- name: Ensure list of cloudflare tunnel information is generated
  tags:
    - tunnel
  ansible.builtin.set_fact:
    __tunnel_list:
      "{{ __tunnel_query.json.result |
          d([]) }}"

- name: Ensure dict of cloudflare tunnel information is generated
  tags:
    - tunnel
  ansible.builtin.set_fact:
    __tunnel_dict:
      "{{ (dict(__tunnel_list |
               json_query('[].name') |
               zip(__tunnel_list))) |
          d({}) }}"

- name: Ensure cloudflare tunnels are present
  tags:
    - tunnel
  ansible.builtin.uri:
    body:
      config_src: "{{ _post.config_src | d('local') }}"
      name: "{{ _post.name }}"
      tunnel_secret: "{{ _post.tunnel_secret | trim }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ tunnel_api_token }}"
    method: POST
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          tunnel_account_id ~
          '/cfd_tunnel' }}"
  loop: "{{ tunnel_list }}"
  loop_control:
    label: "{{ _post.name | d(none) }}"
    loop_var: _post
  when:
    - tunnel_account_id is not none
    - tunnel_api_token is not none
    - _post.name is defined
    - _post.name not in __tunnel_dict.keys()
    - _post.state is not defined or
      _post.state == 'present'
    - _post.tunnel_secret is defined

- name: Ensure cloudflare tunnels are updated
  tags:
    - tunnel
  ansible.builtin.uri:
    body:
      name: "{{ _patch.name }}"
      tunnel_secret: "{{ _patch.tunnel_secret | trim }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ tunnel_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          tunnel_account_id ~
          '/cfd_tunnel/' ~
          __tunnel_dict[_patch.name].id }}"
  loop: "{{ tunnel_list }}"
  loop_control:
    label: "{{ _patch.name | d(none) }}"
    loop_var: _patch
  when:
    - tunnel_account_id is not none
    - tunnel_api_token is not none
    - _patch.name is defined
    - _patch.name in __tunnel_dict.keys()
    - _patch.state is not defined or
      _patch.state == 'present'
    - _patch.tunnel_secret is defined
    - __tunnel_dict[_patch.name].id is defined

- name: Ensure cloudflare tunnels are absent
  tags:
    - tunnel
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ tunnel_api_token }}"
    method: DELETE
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          tunnel_account_id ~
          '/cfd_tunnel/' ~
          __tunnel_dict[_delete.name].id }}"
  loop: "{{ tunnel_list }}"
  loop_control:
    label: "{{ _delete.name | d(none) }}"
    loop_var: _delete
  when:
    - tunnel_account_id is not none
    - tunnel_api_token is not none
    - _delete.name is defined
    - _delete.name in __tunnel_dict.keys()
    - _delete.state is defined and
      _delete.state == 'absent'
    - __tunnel_dict[_delete.name].id is defined
...
