---
- name: Ensure cloudflare cache purge is executed
  tags:
    - purge_cache
  ansible.builtin.uri:
    body: "{{ _cache.cache }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ purge_cache_api_token }}"
    method: POST
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _cache.zone_id ~
          '/purge_cache' }}"
  loop: "{{ purge_cache_list }}"
  loop_control:
    label: "{{ _cache.zone_id | d(none) }}"
    loop_var: _cache
  changed_when: true
  when:
    - purge_cache_api_token is not none
    - _cache.cache is defined
    - _cache.cache | length > 0
    - _cache.zone_id is defined
...
