---
- name: Ensure cloudflare pages project information is gathered
  tags:
    - pages_domain_info
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ pages_domain_info_api_token }}"
    method: GET
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          pages_domain_info_account_id ~
          '/pages/projects' }}"
  register: __pages_domain_info_project_query
  when:
    - pages_domain_info_account_id is not none
    - pages_domain_info_api_token is not none

- name: Ensure list of cloudflare pages projects is generated
  tags:
    - pages_domain_info
  ansible.builtin.set_fact:
    __pages_domain_info_project_list:
      "{{ __pages_domain_info_project_query.json.result |
          d([]) }}"

- name: Ensure cloudflare pages domain information is gathered
  tags:
    - pages_domain_info
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ pages_domain_info_api_token }}"
    method: GET
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          pages_domain_info_account_id ~
          '/pages/projects/' ~
          _get.name ~
          '/domains' }}"
  register: __pages_domain_info_domain_query
  loop: "{{ __pages_domain_info_project_list }}"
  loop_control:
    label: "{{ _get.name | d(none) }}"
    loop_var: _get
  when:
    - pages_domain_info_account_id is not none
    - pages_domain_info_api_token is not none
    - _get.name is defined

- name: Ensure list of cloudflare pages domain information is generated
  tags:
    - pages_domain_info
  ansible.builtin.set_fact:
    _pages_domain_info_list:
      "{{ __pages_domain_info_domain_query.results |
          d([]) |
          json_query('[].{
            name: _get.name,
            domains: json.result
          }') }}"

- name: Ensure dict of cloudflare pages domain information is generated
  tags:
    - pages_domain_info
  ansible.builtin.set_fact:
    _pages_domain_info_dict:
      "{{ (dict(_pages_domain_info_list |
               json_query('[].name') |
               zip(_pages_domain_info_list))) |
          d({}) }}"
...
