---
- name: Verify
  hosts: all

  pre_tasks:
    - name: Ensure roles are included
      tags:
        - rulesets
      ansible.builtin.include_role:
        name: "{{ _role }}"
      loop:
        - zones_info
      loop_control:
        label: "{{ _role | d(none) }}"
        loop_var: _role

    - name: Ensure inventory lists are formatted
      tags:
        - rulesets
      ansible.builtin.set_fact:
        rulesets_list:
          "{{ rulesets_list |
              map('combine', {'state': 'absent'}) }}"

  roles:
    - rulesets
...
