---
- name: Ensure cloudflare ssl mode setting is managed
  tags:
    - ssl
  ansible.builtin.uri:
    body:
      value: "{{ _ssl.mode }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ ssl_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _ssl.zone_id ~
          '/settings/ssl' }}"
  loop: "{{ ssl_list }}"
  loop_control:
    label: "{{ _ssl.zone_id | d(none) }}"
    loop_var: _ssl
  when:
    - ssl_api_token is not none
    - _ssl.mode is defined
    - _ssl.zone_id is defined

- name: Ensure cloudflare always use https setting is managed
  tags:
    - ssl
  ansible.builtin.uri:
    body:
      value: "{{ 'on' if _auh.always_use_https | bool else 'off' }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ ssl_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _auh.zone_id ~
          '/settings/always_use_https' }}"
  loop: "{{ ssl_list }}"
  loop_control:
    label: "{{ _auh.zone_id | d(none) }}"
    loop_var: _auh
  when:
    - ssl_api_token is not none
    - _auh.always_use_https is defined
    - _auh.zone_id is defined

- name: Ensure cloudflare minimum tls version setting is managed
  tags:
    - ssl
  ansible.builtin.uri:
    body:
      value: "{{ _mtv.min_tls_version }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ ssl_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _mtv.zone_id ~
          '/settings/min_tls_version' }}"
  loop: "{{ ssl_list }}"
  loop_control:
    label: "{{ _mtv.zone_id | d(none) }}"
    loop_var: _mtv
  when:
    - ssl_api_token is not none
    - _mtv.min_tls_version is defined
    - _mtv.zone_id is defined

- name: Ensure cloudflare opportunistic encryption setting is managed
  tags:
    - ssl
  ansible.builtin.uri:
    body:
      value: "{{ 'on' if _oe.opportunistic_encryption | bool else 'off' }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ ssl_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _oe.zone_id ~
          '/settings/opportunistic_encryption' }}"
  loop: "{{ ssl_list }}"
  loop_control:
    label: "{{ _oe.zone_id | d(none) }}"
    loop_var: _oe
  when:
    - ssl_api_token is not none
    - _oe.opportunistic_encryption is defined
    - _oe.zone_id is defined

- name: Ensure cloudflare automatic https rewrites setting is managed
  tags:
    - ssl
  ansible.builtin.uri:
    body:
      value: "{{ 'on' if _ahr.automatic_https_rewrites | bool else 'off' }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ ssl_api_token }}"
    method: PATCH
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones/' ~
          _ahr.zone_id ~
          '/settings/automatic_https_rewrites' }}"
  loop: "{{ ssl_list }}"
  loop_control:
    label: "{{ _ahr.zone_id | d(none) }}"
    loop_var: _ahr
  when:
    - ssl_api_token is not none
    - _ahr.automatic_https_rewrites is defined
    - _ahr.zone_id is defined
...
