---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    box_architecture: arm64
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        accounts_info_api_token: "{{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"
        accounts_info_name: "{{ lookup('env', 'CLOUDFLARE_ACCOUNT_NAME') }}"
        rules_lists_account_id: "{{ _accounts_info_id }}"
        rules_lists_api_token: "{{ accounts_info_api_token }}"
        rules_lists_list:
          - kind: ip
            name: uptime_robot
            elements:
              "{{ lookup('ansible.builtin.url',
                         'https://uptimerobot.com/inc/files/ips/IPv4.txt',
                         wantlist=true) |
                  map('community.general.dict_kv', 'ip') |
                  sort(attribute='ip') }}"

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - converge
    - check
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
