---
- name: Ensure cloudflare zone information is gathered
  tags:
    - zone_info
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ zone_info_api_token }}"
    method: GET
    status_code:
      - 200
      - 401
      - 403
    url:
      "{{ 'https://api.cloudflare.com/client/v4/zones' ~
          '?match=' ~
          zone_info_match ~
          '&page=' ~
          zone_info_page ~
          '&per_page=' ~
          zone_info_per_page }}"
  register: __zone_info_query
  when:
    - zone_info_api_token is not none

- name: Ensure list of cloudflare zone information is generated
  tags:
    - zone_info
  ansible.builtin.set_fact:
    _zone_info_list:
      "{{ __zone_info_query.json.result |
          d([]) }}"

- name: Ensure dict of cloudflare zone information is generated
  tags:
    - zone_info
  ansible.builtin.set_fact:
    _zone_info_dict:
      "{{ (dict(_zone_info_list |
               json_query('[].name') |
               zip(_zone_info_list))) |
          d({}) }}"
...
