---
- name: Ensure cloudflare pages project information is gathered
  tags:
    - pages_project
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ pages_project_api_token }}"
    method: GET
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          pages_project_account_id ~
          '/pages/projects' }}"
  register: __pages_project_query
  when:
    - pages_project_account_id is not none
    - pages_project_api_token is not none

- name: Ensure list of cloudflare pages project information is generated
  tags:
    - pages_project
  ansible.builtin.set_fact:
    __pages_project_list:
      "{{ __pages_project_query.json.result |
          d([]) }}"

- name: Ensure dict of cloudflare pages project information is generated
  tags:
    - pages_project
  ansible.builtin.set_fact:
    __pages_project_dict:
      "{{ (dict(__pages_project_list |
               json_query('[].name') |
               zip(__pages_project_list))) |
          d({}) }}"

- name: Ensure cloudflare pages projects are present
  tags:
    - pages_project
  ansible.builtin.uri:
    body:
      build_config: "{{ _post.build_config | d(omit) }}"
      deployment_configs: "{{ _post.deployment_configs | d(omit) }}"
      name: "{{ _post.name }}"
      production_branch: "{{ _post.production_branch }}"
      source: "{{ _post.source | d(omit) }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ pages_project_api_token }}"
    method: POST
    status_code:
      - 200
    url:
      "{{ 'https://api.cloudflare.com/client/v4/accounts/' ~
          pages_project_account_id ~
          '/pages/projects' }}"
  loop: "{{ pages_project_list }}"
  loop_control:
    label: "{{ _post.name | d(none) }}"
    loop_var: _post
  when:
    - pages_project_account_id is not none
    - pages_project_api_token is not none
    - _post.name is defined
    - _post.name not in __pages_project_dict.keys()
    - _post.production_branch is defined
    - _post.state is not defined or
      _post.state == 'present'

- name: Ensure cloudflare pages projects are updated
  tags:
    - pages_project
  ansible.builtin.uri:
    body:
      build_config: "{{ _patch.build_config | d(omit) }}"
      deployment_configs: "{{ _patch.deployment_configs | d(omit) }}"
      name: "{{ _patch.name }}"
      production_branch: "{{ _patch.production_branch }}"
      source: "{{ _patch.source | d(omit) }}"
    body_format: json
    headers:
      Authorization: "Bearer {{ pages_project_api_token }}"
    method: PATCH
    status_code:
      - 200
    url: "{{ 'https://api.cloudflare.com/client/v4/accounts/' +
             pages_project_account_id +
             '/pages/projects/' +
             _patch.name }}"
  loop: "{{ pages_project_list }}"
  loop_control:
    label: "{{ _patch.name | d(none) }}"
    loop_var: _patch
  when:
    - pages_project_account_id is not none
    - pages_project_api_token is not none
    - _patch.name is defined
    - _patch.name in __pages_project_dict.keys()
    - _patch.production_branch is defined
    - _patch.state is not defined or
      _patch.state == 'present'

- name: Ensure cloudflare pages projects are absent
  tags:
    - pages_project
  ansible.builtin.uri:
    headers:
      Authorization: "Bearer {{ pages_project_api_token }}"
    method: DELETE
    status_code:
      - 200
    url: "{{ 'https://api.cloudflare.com/client/v4/accounts/' +
             pages_project_account_id +
             '/pages/projects/' +
             _delete.name }}"
  loop: "{{ pages_project_list }}"
  loop_control:
    label: "{{ _delete.name | d(none) }}"
    loop_var: _delete
  when:
    - pages_project_account_id is not none
    - pages_project_api_token is not none
    - _delete.name is defined
    - _delete.name in __pages_project_dict.keys()
    - _delete.state is defined and
      _delete.state == 'absent'
...
